<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5 class="main"><i><b><u>Enter your event details</u></b></i></h5>
    <form action="result">
        <label>First Name</label>
        <input type="text">
        <br><br>
        <label>last Name</label>
        <input type="text">
        <br><br>
        <label>Enter phone number</label>
        <input type="number">
        <br><br>
        <label>Enter your mail</label>
        <input type="email">
        <br><br>
        <label>Enter the envent name</label>
        <input type="text">
        <br><br>
        <label>Enter the date</label>
        <input type="date">
        <br><i><h5 class="main">clicl here to submit</h5></i>
        <input type="submit">
        <br><i><h5 class="main">click here to reset</h5></i>
        <input type="reset">

        

    </form>
                



    
</body>
</html>