.main
{ 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4vaVIGxA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
.main2
{
    color:rgb(233, 12, 126);
    text-align:center;
    opacity:0.7;
    border-style:solid;
    font-size:30px;
    overflow: auto;
   
}
.main3
{
    color:rgb(170, 12, 233);
    position: relative;
    left:150px;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.square
{
    color:rgb(255, 0, 0);
    height: 300px;
    width: 300px;
    border-radius:35%;
    background-color: rgb(199, 53, 97);
    border-style: inset;
    
}

.main2:hover
{
    color:rgb(152, 22, 212);
    font-size:50px;
}
*{
    background-color: rgb(248, 241, 210);
}

.main4
{
    position: relative;
    left:150px;
}